In [1]:
import pandas as pd

In [2]:
people = pd.read_csv('wiki_people.csv')

In [3]:
people

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...
5,<http://dbpedia.org/resource/Sam_Henderson>,Sam Henderson,sam henderson born october 18 1969 is an ameri...
6,<http://dbpedia.org/resource/Aaron_LaCrate>,Aaron LaCrate,aaron lacrate is an american music producer re...
7,<http://dbpedia.org/resource/Trevor_Ferguson>,Trevor Ferguson,trevor ferguson aka john farrow born 11 novemb...
8,<http://dbpedia.org/resource/Grant_Nelson>,Grant Nelson,grant nelson born 27 april 1971 in london also...
9,<http://dbpedia.org/resource/Cathy_Caruth>,Cathy Caruth,cathy caruth born 1955 is frank h t rhodes pro...
10,<http://dbpedia.org/resource/Sophie_Crumb>,Sophie Crumb,sophia violet sophie crumb born september 27 1...
11,<http://dbpedia.org/resource/Jenn_Ashworth>,Jenn Ashworth,jenn ashworth is an english writer she was bor...
12,<http://dbpedia.org/resource/Jonathan_Hoefler>,Jonathan Hoefler,jonathan hoefler born august 22 1970 is an ame...
13,<http://dbpedia.org/resource/Anthony_Gueterboc...,"Anthony Gueterbock, 18th Baron Berkeley",anthony fitzhardinge gueterbock 18th baron ber...
14,<http://dbpedia.org/resource/David_Chernushenko>,David Chernushenko,david chernushenko born june 1963 in calgary a...
15,<http://dbpedia.org/resource/Joerg_Steineck>,Joerg Steineck,joerg steineck is a german filmmaker editor an...
16,<http://dbpedia.org/resource/Andrew_Pinsent>,Andrew Pinsent,fr andrew pinsent born 19 august 1966 is resea...
17,<http://dbpedia.org/resource/Paddy_Dunne_(Gael...,Paddy Dunne (Gaelic footballer),paddy dunne was a gaelic football player from ...
18,<http://dbpedia.org/resource/Alexandros_Mouzas>,Alexandros Mouzas,alexandros mouzas born 1962 is a greek compose...
19,<http://dbpedia.org/resource/John_Angus_Campbell>,John Angus Campbell,john angus campbell born march 10 1942 in port...
20,<http://dbpedia.org/resource/Chris_Batstone>,Chris Batstone,chris batstone was the 20002002 lead singer of...
21,<http://dbpedia.org/resource/Ceiron_Thomas>,Ceiron Thomas,ceiron thomas born 23 october 1983 is a welsh ...
22,<http://dbpedia.org/resource/Adel_Sellimi>,Adel Sellimi,adel sellimi arabic was born on 16 november 19...
23,<http://dbpedia.org/resource/Faith_Soloway>,Faith Soloway,faith soloway born march 28 1964 is an america...
24,<http://dbpedia.org/resource/Tom_Jennings>,Tom Jennings,tom jennings born 1955 as thomas daniel jennin...
25,<http://dbpedia.org/resource/Vic_Stasiuk>,Vic Stasiuk,victor john stasiuk born may 23 1929 is a reti...
26,<http://dbpedia.org/resource/Anthony_Caruana>,Anthony Caruana,anthony caruana born 2 january 1968 is a melbo...
27,<http://dbpedia.org/resource/Ian_Mitchell_(aut...,Ian Mitchell (author),ian mitchell is a scottish author who grew up ...
28,<http://dbpedia.org/resource/Leon_Hapgood>,Leon Hapgood,leon duane hapgood born 7 august 1979is an eng...
29,<http://dbpedia.org/resource/Emily_Osment>,Emily Osment,emily jordan osment born march 10 1992 is an a...
...,...,...,...
59041,<http://dbpedia.org/resource/Mokob%C3%A9>,Mokob%C3%A9,mokob traor better known by the mononym mokob ...
59042,<http://dbpedia.org/resource/F._Enzio_Busche>,F. Enzio Busche,friedrich enzio busche born 5 april 1930 dortm...
59043,<http://dbpedia.org/resource/Christian_Wiman>,Christian Wiman,christian wiman is an american poet and editor...
59044,<http://dbpedia.org/resource/Ellyn_Setnor_Bogd...,Ellyn Setnor Bogdanoff,ellyn setnor bogdanoff born october 17 1959 wa...
59045,<http://dbpedia.org/resource/Katya_Adler>,Katya Adler,katya adler born 1972 is a british journalist ...
59046,<http://dbpedia.org/resource/Anthony-Noel_Kelly>,Anthony-Noel Kelly,anthonynoel kelly born 1956 is a british artis...
59047,<http://dbpedia.org/resource/Mignon_Clyburn>,Mignon Clyburn,mignon l clyburn born march 22 1962 is a commi...
59048,<http://dbpedia.org/resource/Charles_A._Miller>,Charles A. Miller,charles a miller born october 27 1937 in washi...
59049,<http://dbpedia.org/resource/Rodolfo_Parada>,Rodolfo Parada,rodolfo parada lillo is a chilean musician com...
59050,<http://dbpedia.org/resource/Giwi_Margwelaschw...,Giwi Margwelaschwili,giwi margwelaschwili georgian born december 14...
59051,<http://dbpedia.org/resource/Geoffrey_Kipsang>,Geoffrey Kipsang,geoffrey kipsang kamworor born 22 november 199...
59052,<http://dbpedia.org/resource/Dave_Nilsson>,Dave Nilsson,david wayne nilsson born 14 december 1969 is a...
59053,<http://dbpedia.org/resource/Jessica_Jordan>,Jessica Jordan,jessica anne jordan burton born 6 may 1984 in ...
59054,<http://dbpedia.org/resource/Marina_Mulyayeva>,Marina Mulyayeva,marina vladimirovna mulyayeva kazakh born apri...
59055,<http://dbpedia.org/resource/Jo%C3%ABl_de_Rosnay>,Jo%C3%ABl de Rosnay,jol de rosnay born 1937 phd from the massachus...
59056,<http://dbpedia.org/resource/Amy_Jenkins>,Amy Jenkins,amy jenkins born 1966 in london is an english ...
59057,<http://dbpedia.org/resource/Roy_Zimmerman_(sa...,Roy Zimmerman (satirist),roy zimmerman born october 7 1957 is an americ...
59058,<http://dbpedia.org/resource/George_Krause>,George Krause,george krause born 1937 philadelphia pennsylva...
59059,<http://dbpedia.org/resource/Sean_Slade>,Sean Slade,sean slade b november 14 1957 lansing michigan...
59060,<http://dbpedia.org/resource/Lynne_Lipton>,Lynne Lipton,lynne lipton is an american film stage televis...
59061,<http://dbpedia.org/resource/Rod_Wilt>,Rod Wilt,rod wilt is a former republican member of the ...
59062,<http://dbpedia.org/resource/Scott_Baker_(judge)>,Scott Baker (judge),sir thomas scott gillespie baker born 10 decem...
59063,<http://dbpedia.org/resource/Dragoljub_Ojdani%...,Dragoljub Ojdani%C4%87,dragoljub ojdani serbian cyrillic born june 1 ...
59064,<http://dbpedia.org/resource/Oz_Bengur>,Oz Bengur,osman oz bengur born february 23 1949 is an am...
59065,<http://dbpedia.org/resource/Dee_Brown_(basket...,"Dee Brown (basketball, born 1968)",decovan kadell dee brown born november 29 1968...
59066,<http://dbpedia.org/resource/Olari_Elts>,Olari Elts,olari elts born april 27 1971 in tallinn eston...
59067,<http://dbpedia.org/resource/Scott_F._Crago>,Scott F. Crago,scott francis crago born july 26 1963 twin bro...
59068,<http://dbpedia.org/resource/David_Cass_(footb...,David Cass (footballer),david william royce cass born 27 march 1962 in...
59069,<http://dbpedia.org/resource/Keith_Elias>,Keith Elias,keith hector elias born february 3 1972 in lac...
59070,<http://dbpedia.org/resource/Fawaz_Damrah>,Fawaz Damrah,fawaz mohammed damrah arabic fawwz damra was t...

In [4]:
len(people)

59071

In [5]:
obama = people[people['name'] == 'Barack Obama']

In [6]:
obama

,URI,name,text
35817,<http://dbpedia.org/resource/Barack_Obama>,Barack Obama,barack hussein obama ii brk husen bm born augu...

In [7]:
obama['text']

35817    barack hussein obama ii brk husen bm born augu...
Name: text, dtype: object

In [8]:
clooney = people[people['name'] == 'George Clooney']

In [9]:
clooney['text']

38514    george timothy clooney born may 6 1961 is an a...
Name: text, dtype: object

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
vectorizer = CountVectorizer(min_df = 1)

In [15]:
X = vectorizer.fit_transform(obama['text'])

In [16]:
X

<1x270 sparse matrix of type '<class 'numpy.int64'>'
	with 270 stored elements in Compressed Sparse Row format>

In [17]:
X.toarray()

array([[ 1,  1,  1,  1,  1,  2,  1,  3,  1,  1,  3,  2,  3,  1,  1,  1,  1,
         1,  8,  1,  1,  1,  2,  1,  4,  1,  3,  1, 21,  1,  6,  1,  2,  1,
         1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  3,  1,  2,
         1,  1,  1,  1,  1,  1,  1,  1,  1,  4,  1,  1,  1,  1,  1,  1,  1,
         1,  1,  1,  1,  1,  1,  4,  1,  1,  2,  2,  1,  2,  1,  1,  3,  1,
         1,  1,  1,  1,  1,  3,  4,  2,  1,  3,  1,  1,  1,  1,  1,  1,  2,
         4,  1,  7,  1, 11,  1,  1,  1,  2,  1,  1,  1,  2, 30,  1,  1,  1,
         1,  1,  1,  3,  4,  2,  1,  3,  1,  1,  1,  1,  1,  1,  6,  1,  1,
         1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  4,  1,  1,  1,  2,  1,  1,
         1,  1,  1,  2,  1,  1,  2,  9,  1, 18,  2,  1,  2,  1,  1,  1,  3,
         1,  1,  1,  1,  3,  1,  1,  1,  2,  4,  2,  1,  2,  1,  1,  1,  1,
         2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,
         2,  1,  2,  1,  3,  1,  1,  1,  1,  1,  1,  1,  1,  3,  1,  2,  3,
         2,  1,  3,  1,  1,  1,  1,  3,  1,  1,  1,  1,  1,  1,  1,  1,  1,
         1,  3,  1,  1, 40,  1,  1, 14,  1,  1,  1,  1,  1,  1,  3,  2,  1,
         1,  6,  1,  1,  1,  5,  1,  1,  1,  1,  3,  1,  1,  1,  1]], dtype=int64)

In [18]:
import numpy as np

In [19]:
word = vectorizer.get_feature_names()

In [20]:
word

['13th',
 '1961',
 '1992',
 '1996',
 '1997',
 '20',
 '2000in',
 '2004',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2012obama',
 '2013',
 '44th',
 '63',
 'act',
 'address',
 'administration',
 'affordable',
 'afghanistan',
 'african',
 'after',
 'against',
 'american',
 'americans',
 'and',
 'arms',
 'as',
 'ask',
 'at',
 'attention',
 'attorney',
 'august',
 'barack',
 'before',
 'began',
 'bin',
 'bm',
 'born',
 'briefs',
 'brk',
 'budget',
 'by',
 'californias',
 'called',
 'campaign',
 'care',
 'chicago',
 'civil',
 'clinton',
 'close',
 'columbia',
 'combat',
 'community',
 'constitutional',
 'consumer',
 'continued',
 'control',
 'convention',
 'court',
 'creation',
 'cuba',
 'current',
 'death',
 'debate',
 'debt',
 'defeated',
 'defeating',
 'defense',
 'degree',
 'delegates',
 'democratic',
 'district',
 'doddfrank',
 'domestic',
 'dont',
 'down',
 'during',
 'earning',
 'economic',
 'election',
 'elementary',
 'ended',
 'ending',
 'equality',
 'federal',
 'filed',
 'first',
 'for',
 'foreign',
 'form',
 'from',
 'full',
 'gains',
 'general',
 'graduate',
 'great',
 'gun',
 'harvard',
 'has',
 'hawaii',
 'he',
 'hillary',
 'his',
 'hold',
 'honolulu',
 'hook',
 'house',
 'husen',
 'hussein',
 'ii',
 'illinois',
 'in',
 'inaugurated',
 'included',
 'increased',
 'initiatives',
 'insurance',
 'into',
 'involvement',
 'iraq',
 'is',
 'islamic',
 'january',
 'job',
 'john',
 'july',
 'keynote',
 'laden',
 'laureateduring',
 'law',
 'legislation',
 'lengthy',
 'levels',
 'lgbt',
 'libya',
 'limit',
 'lost',
 'made',
 'major',
 'march',
 'marriage',
 'mccain',
 'military',
 'mitt',
 'months',
 'named',
 'national',
 'nations',
 'new',
 'nine',
 'nobel',
 'nomination',
 'nominee',
 'normalize',
 'not',
 'november',
 'obama',
 'obamacare',
 'of',
 'office',
 'often',
 'on',
 'operation',
 'operations',
 'or',
 'ordered',
 'organizer',
 'osama',
 'other',
 'over',
 'party',
 'patient',
 'peace',
 'policies',
 'policy',
 'president',
 'presidential',
 'primaries',
 'primary',
 'prize',
 'process',
 'promoted',
 'proposition',
 'protection',
 'raise',
 'reauthorization',
 'receive',
 'received',
 'recession',
 'recovery',
 'reelected',
 'referred',
 'reform',
 'regained',
 'reinvestment',
 'related',
 'relations',
 'relief',
 'repeal',
 'represent',
 'representatives',
 'representing',
 'republican',
 'republicans',
 'response',
 'resulted',
 'review',
 'rights',
 'rodham',
 'romney',
 'running',
 'russia',
 'sandy',
 'school',
 'seats',
 'second',
 'senate',
 'served',
 'shooting',
 'signed',
 'sought',
 'spending',
 'start',
 'state',
 'states',
 'stimulus',
 'street',
 'strike',
 'sufficient',
 'supreme',
 'sworn',
 'taught',
 'tax',
 'taxpayer',
 'tell',
 'term',
 'terms',
 'that',
 'the',
 'then',
 'three',
 'to',
 'total',
 'treaty',
 'troop',
 'two',
 'unconstitutional',
 'unemployment',
 'united',
 'university',
 'unsuccessfully',
 'urged',
 'us',
 'victory',
 'wall',
 'war',
 'was',
 'where',
 'whether',
 'which',
 'while',
 'with',
 'withdrawal',
 'won',
 'worked',
 'years']

In [21]:
word = np.array(word)

In [22]:
obama_word_count_table = pd.DataFrame({'word':word, 'count':X.toarray()[0]})

In [23]:
obama_word_count_table

     count              word
0        1              13th
1        1              1961
2        1              1992
3        1              1996
4        1              1997
5        2                20
6        1            2000in
7        3              2004
8        1              2007
9        1              2008
10       3              2009
11       2              2010
12       3              2011
13       1              2012
14       1         2012obama
15       1              2013
16       1              44th
17       1                63
18       8               act
19       1           address
20       1    administration
21       1        affordable
22       2       afghanistan
23       1           african
24       4             after
25       1           against
26       3          american
27       1         americans
28      21               and
29       1              arms
..     ...               ...
240      1             terms
241      1              that
242     40               the
243      1              then
244      1             three
245     14                to
246      1             total
247      1            treaty
248      1             troop
249      1               two
250      1  unconstitutional
251      1      unemployment
252      3            united
253      2        university
254      1    unsuccessfully
255      1             urged
256      6                us
257      1           victory
258      1              wall
259      1               war
260      5               was
261      1             where
262      1           whether
263      1             which
264      1             while
265      3              with
266      1        withdrawal
267      1               won
268      1            worked
269      1             years

[270 rows x 2 columns]

In [24]:
obama_word_count_table.sort_values(["count"], ascending = False)

     count         word
242     40          the
115     30           in
28      21          and
162     18           of
245     14           to
106     11          his
160      9        obama
18       8          act
104      7           he
30       6           as
256      6           us
133      6          law
260      5          was
123      4         iraq
24       4        after
74       4   democratic
179      4    president
91       4          for
102      4          has
146      4     military
60       4      control
223      3       signed
252      3       united
208      3     response
83       3     election
122      3  involvement
239      3         term
126      3      january
26       3     american
90       3        first
..     ...          ...
120      1    insurance
118      1    increased
76       1    doddfrank
117      1     included
79       1         down
81       1      earning
82       1     economic
84       1   elementary
85       1        ended
86       1       ending
87       1     equality
88       1      federal
89       1        filed
93       1         form
95       1         full
96       1        gains
97       1      general
98       1     graduate
99       1        great
100      1          gun
103      1       hawaii
105      1      hillary
107      1         hold
108      1     honolulu
109      1         hook
111      1        husen
112      1      hussein
113      1           ii
116      1  inaugurated
269      1        years

[270 rows x 2 columns]

In [26]:
from sklearn.feature_extraction.text import TfidfTransformer

In [27]:
transformer = TfidfTransformer(smooth_idf=False)

In [28]:
X = vectorizer.fit_transform(people['text'])

In [29]:
clinton = people[people['name'] == 'Bill Clinton']

In [31]:
clinton

,URI,name,text
36452,<http://dbpedia.org/resource/Bill_Clinton>,Bill Clinton,william jefferson bill clinton born william je...

In [32]:
tfidf_clinton = transformer.fit_transform(X, X[36452])

In [34]:
beckham = people[people['name'] == 'David Beckham']

In [35]:
beckham

,URI,name,text
23386,<http://dbpedia.org/resource/David_Beckham>,David Beckham,david robert joseph beckham obe bkm born 2 may...

In [36]:
tfidf_beckham = transformer.fit_transform(X, X[23386])

In [38]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
cosine_similarity(tfidf_clinton, tfidf_beckham)